
<nav class="navbar navbar-expand-lg navbar-dark "style="background-color: #000000;">
  <div class="container">
    <a class="navbar-brand me-3 m-2" href="https://github.com/sirgama">
      <img
        src="../../../assets/giphylogo.gif"
        height="40"
        alt="GiphyLogo"

        style="margin-top: 1px;"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mt-2 text-center">
        <li class="nav-item">
          <a class="nav-link active nav1" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav1" href="#">Reactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav1" href="#">Entertainment</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active nav1" href="#">Sports</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active nav1" href="#">Stickers </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav1"
            >Artists</a
          >
        </li>
        <li class="nav-item">
          <a href="" class="nav-link"><button type="button" class="btn btn-primary">Upload</button></a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link"><button type="button" class="btn btn-primary">Create</button></a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link"><button type="button" class="btn bt2 btn-primary" style="background-color: #525252;"><img class="custom" src="../../../assets/icons8-customer-96.png" alt=""></button><button type="button" class="btn btn-primary custom2" style="background-color: #525252;">Login</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
