<!-- Background image -->
<body>


<div
class="p-5 text-center bg-image"
style="
  background-image: url('../../../assets/pexels-cátia-matos-1072179.jpg');
  height: 400px;
"
>
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3">Welcome to Giphy!</h1>
      <p class="mb-3">The Internet's source of GIF's</p>
      <p class="mb-3">Powered by developers everywhere.</p>
      <input type="search" name="search" id="search" placeholder="Search your favourite Gifs">
      >
    </div>
  </div>
</div>
</div>
<!-- Background image -->




</body>
