<!-- Background image -->
<div
class="p-5 text-center bg-image"
style="
  background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
  height: 400px;
"
>
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3">Welcome to Giphy!</h1>
      <h4 class="mb-3">Search millions of Gifs</h4>
      <input type="search" name="search" id="search" placeholder="Search your favourite Gifs">
      >
    </div>
  </div>
</div>
</div>
<!-- Background image -->

